<h1>Incidents for <%= @student.first_name %> <%= @student.last_name%></h1>

<% @student.incidents.each do |incident| %>
	<h1>Incident created at <%=@incident.created_at%> by <%=@incident.teacher%></h1>
<% end %> 