<h1>Incidents for <%= @student.first_name %> <%= @student.last_name%></h1>

<canvas id="myChart" width="200" height="200"></canvas>

<div class="incidents">
<ul>
<% @student.incidents.each do |incident| %>
	<h1><%= link_to "Incident created at #{incident.created_at} by #{incident.creator.first_name} #{incident.creator.last_name}", incident_path(incident)%></h1>
<% end %> 
<ul>
	</div>