<% if @incident.errors.any? %>
	<div class="error_explanation">
		<div class="alert alert-danger">
			The form contains <%= pluralize(@incident.errors.count, "error") %>
			<ul>
				<% @incident.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>